<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartitem of shoppingcart.cartItems">
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-2 hidden-xs"><img height="70px" width="70px"
                src="/assets/Productimages/{{cartitem.product.id}}/1.jpg"
                onerror="this.src='/assets/Productimages/default.jpg'" /></div>
            <div class="col-sm-10">
              <h4 class="nomargin">{{cartitem.product.name}}</h4>
              <p> {{ cartitem.product.description | slice:0:20 }}{{cartitem.product.description.length > 20 ? '...' :
                ''}}
              </p>
            </div>
          </div>
        </td>
        <td data-th="Price">{{cartitem.product.price}}</td>
        <td data-th="Quantity">
          <input type="number" class="form-control text-center" (change)="changecartitemquantity(cartitem,$event)"
            value="{{cartitem.quantity}}">
        </td>
        <td data-th="Subtotal" class="text-center">{{cartitem.quantity * cartitem.product.price}}</td>
        <td class="actions" data-th="">
          <button mat-button (click)="removecartitem(cartitem)" class="btn btn-danger btn-sm"><i
              class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="visible-xs">
        <td class="text-center"><strong>{{subtotal}}</strong></td>
      </tr>
      <tr>
        <td><button mat-button [mat-dialog-close] class="btn btn-warning"><i class="fa fa-angle-left"></i>
            Cancel</button></td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total {{total}}</strong></td>
        <td><button mat-button (click)="save()" class="btn btn-success btn-block">Save <i class="fa fa-angle-right"></i></button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
